<div class="comment">
  <%= turbo_frame_tag "comment_#{comment.id}" do %>
    <p><%= comment.body %></p>
    <p><small>By <%= comment.user.username %></small></p>

    <% if comment.user == current_user %>
      <%= link_to "Edit", edit_article_comment_path(comment.article, comment), class: "button" %>
      <%= button_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--danger', form: { data: { turbo_frame: "_top" } } %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= turbo_frame_tag "reply_form_for_comment_#{comment.id}" do %>
      <%= link_to "Reply", reply_article_comment_path(comment.article, comment), class: "button" %>
    <% end %>
  <% end %>

  <% comment.replies.each do |reply| %>
    <div class="reply" style="margin-left: 30px;">
      <%= render partial: 'comments/comment', locals: { comment: reply } %>
    </div>
  <% end %>
</div>

