<%= form_with(model: article, class: "article-form") do |form| %>
  <% if article.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input", required: true %>
  </div>

  <div class="form-field">
    <%= form.label :url, class: "form-label" %>
    <%= form.text_field :url, class: "form-input", required: true %>
  </div>

  <div class="form-actions">
    <%= form.submit nil, class: "button" %>
  </div>
<% end %>
