<% content_for :title, "Articles" %>

<header>Articles!</header>

<% if user_signed_in? %>
 <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>

<div id="articles">
  <% @articles.each do |article| %>
    <div class="article">
      <%= render article %>
      <p><%= link_to "Show this article", article, class: "button" %></p>
    </div>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>

<%= link_to "New article", new_article_path, class: "button" %>
